.admin {
    width: 100%;
    height: 100vh;
    background-color: #FAFCF8;
}

.admin-reg {
    background-color: white;
    margin-top: 25vh;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #00BF70;
    text-align: center;
}

.error {
    color: red;
    font-weight: lighter;
}


/*Admin home*/

.wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
}

.navbar .admin-brand {
    font-size: 1.4em;
}

.navbar .admin-brand:hover,
.navbar .nav-item .nav-link:hover {
    color: #00BF70;
}

.sidebar-admin {
    min-height: 76vh;
    padding: 0;
    padding-top: 15px;
    background-color: #FAFCF8;
}

.nav .nav-item {
    width: 100%;
}

.nav .nav-item .nav-link {
    color: #00BF70;
    border-bottom: 1px solid #00BF70;
    padding-left: 35px;
}

.nav .nav-item:hover,
.nav .nav-item .nav-link:hover {
    background-color: #00BF70;
    color: #FAFCF8;
}

.content-admin {
    padding: 30px;
    padding-bottom: 50px;
}

.add {
    width: 85%;
}

.footer {
    height: 70px;
    padding-top: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    clear: both;
}

.category-list {
    margin-bottom: 10px;
    padding: 7px;
    background-color: #FAFCF8;
    border: 1px solid grey;
}

.category-list h6 {
    padding-top: 7px;
}

.admin-img img {
    width: 20%;
}

.date-info {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.home-info {
    border: 1px solid #00BF70;
    margin: 3px;
    padding: 10px;
    text-align: center;
}

.text-inf {
    color: #00BF70;
    font-size: 3em;
}

.welcome {
    font-size: 2em;
    margin-bottom: 10px;
}


/*Site home*/

.bg-nav {
    background-color: #171a21;
}

.navbar .site-brand {
    font-size: 2em;
    margin-right: 50px;
    line-height: 100%;
    margin-bottom: 5px;
}

.navbar .site-brand,
.site-nav .navbar .nav-item .nav-link {
    color: #b8b6b4;
}

.navbar .site-brand:hover,
.site-nav .navbar .nav-item .nav-link:hover {
    color: white;
}

.wrapper-site {
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
    background: linear-gradient(to bottom, #2a4967, #1b2838);
}

.form-nav {
    margin-left: 5%;
}

.navbar-inverse .navbar-toggler {
    border-color: #b8b6b4;
}

.site-carousel {
    padding-top: 75px;
}

.slide {
    max-height: 1200px;
}

.slide img {
    max-height: 1200px;
    width: 100%;
}

.link-slide {
    color: #ffffff;
}

.link-slide:hover {
    color: #b8b6b4;
    text-decoration: none;
}

.notfound,
.games-content {
    padding-top: 75px;
    color: white;
    padding-bottom: 15px;
}

.img-carousel {
    -webkit-box-shadow: 0px 0px 39px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 39px -1px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 39px -1px rgba(0, 0, 0, 1);
}

.footer-site {
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    clear: both;
    background-color: #171a21;
    color: #b8b6b4;
    text-align: center;
    padding-top: 25px;
}

.content {
    margin: 0 auto;
    padding: 20px;
    margin-top: 25px;
    background-color: rgba(27, 47, 66, 1);
    -webkit-box-shadow: 0px -6px 31px -8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px -6px 31px -8px rgba(0, 0, 0, 1);
    box-shadow: 0px -6px 31px -8px rgba(0, 0, 0, 1);
}

.content-row {
    padding-top: 25px;
}

.card-title a {
    color: #b8b6b4;
    font-weight: 400;
}

.card-title a:hover {
    color: white;
    text-decoration: none;
}

.card-block {
    padding: 0;
    margin: 0;
    padding-top: 15px;
}

.content-title {
    color: white;
    border-bottom: 1px solid white;
}

.game-block {
    margin-bottom: 20px;
    padding-top: 20px;
}

.game-block:hover {
    -webkit-box-shadow: 0px -6px 31px -8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px -6px 31px -8px rgba(0, 0, 0, 1);
    box-shadow: 0px -6px 31px -8px rgba(0, 0, 0, 1);
}

.site-sidebar a {
    color: #796d6d;
    padding: 0.75rem;
    width: 100%;
}

.site-sidebar a:hover {
    color: white;
    text-decoration: none;
}

.site-sidebar {
    background-color: rgba(27, 47, 66, 1);
    padding-bottom: 25px;
    background: linear-gradient(to bottom, rgba(27, 47, 66, 1), #1f3044);
}

.list-group-item:last-child {
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.btn-radius,
.form-radius {
    border-radius: 0;
}

.list-group-item:first-child {
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
}

.title-sidebar {
    margin: 15px;
    font-weight: 400;
}

.site-sidebar li:hover {
    color: white;
    background: linear-gradient(to right, #2a4967, #4e92ba);
}

.list-group-item {
    padding: 0;
}

.badge,
.badge-default,
.badge-pill {
    float: right;
}

.cart-list {
    max-height: 100px;
    width: 100%;
    border-bottom: 5px solid #2a4967;
    position: relative;
}

.cart-list:first-child {
    border-top: 5px solid #2a4967;
}

.cart-list:hover {
    background: linear-gradient(to right, #2a4967, #4e92ba);
}

.cart-list img {
    height: 80px;
    width: auto;
}

.list-block {
    display: inline-block;
    padding-left: 25px;
}

.game-list {
    background-color: rgba(27, 47, 66, 1);
    padding-right: 0;
    padding-left: 0;
    min-height: 70vh;
}

.game-list .nav .nav-item .nav-link {
    background-color: rgba(27, 47, 66, 1);
    border-color: #2a4967;
    border-bottom: 2px solid #66bff2;
    border-left: 1px solid #2a4967;
    border-top: 1px solid rgba(27, 47, 66, 1);
    color: white;
}

.game-list .nav .nav-item .active,
.game-list .nav .nav-item .nav-link:hover {
    background-color: #2a4967;
    border-color: #66bff2;
    border-bottom: 2px solid #66bff2;
    color: #b8b6b4;
    border-radius: 0;
}

.list-foter,
.list-header,
.list-system {
    position: absolute;
    display: block;
    height: 50%;
    font-weight: 300;
}

.list-header {
    top: 10px;
}

.list-foter {
    bottom: -10px;
    color: #66bff2;
    font-size: 0.9em;
}

.list-title a {
    font-weight: 300;
    color: #b8b6b4;
}

.list-title a:hover {
    color: white;
    text-decoration: none;
}

.list-system {
    right: 35px;
    bottom: 20px;
}

.list-system img {
    height: 40px;
}

.page-item a {
    color: #b8b6b4;
}

.page-item a:hover,
.page-item a:active,
.page-item a:focus {
    color: #66bff2;
    background-color: #2a4967;
    border-color: #2a4967;
}

.page-link {
    border-color: #2a4967;
    background-color: rgba(27, 47, 66, 1);
}

.contact-form {
    width: 60%;
    margin-left: 25px;
    margin: 25px;
    margin-bottom: -20px;
}

.page-title {
    margin-left: 25px;
    margin-top: 15px;
}

.img-game {
    width: 100%;
    padding-top: 5px;
}

.game-title {
    font-size: 2em;
    font-weight: 300;
}

.game-info {
    padding-top: 10px;
    font-weight: 300;
    width: 100%;
}

.game-zag {
    border-bottom: 1px solid grey;
    padding-bottom: 7px;
}

.game-page {
    padding: 10px;
    padding-bottom: 25px;
}

.gallery-row {
    margin-right: 0;
    margin-left: 0;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.gallery {
    cursor: pointer;
    margin: 0;
    margin-top: 0px;
    padding: 0px;
}

.gallery img {
    width: 100%;
    border: 1px solid white;
    opacity: 0.5;
}

.gallery img:hover {
    opacity: 1;
}

.game-system {
    color: #66bff2;
}

.game-param {
    color: #acb2b8;
}

.catLink-game {
    color: #acb2b8;
}

.catLink-game:hover {
    color: #ffffff;
    text-decoration: none;
}

.game-list .nav .nav-item .search-link {
    border-left: 0;
    padding-left: 10px;
    margin-left: 0;
}

@media (max-width: 768px) {
    .sidebar-admin {
        text-align: center;
        padding: 0;
    }
    .nav .nav-item .nav-link {
        padding-left: 0;
    }
    .game-list .nav .nav-item .nav-link {
        text-align: center;
    }
    .slide {
        max-height: 300px;
    }
    .slide img {
        max-height: 300px;
        width: 100%;
    }
    .game-list {
        padding-left: 10px;
        padding-right: 10px;
    }
    .bg-nav {
        opacity: 0.95;
    }
    .contact-form {
        width: 80%;
        margin-left: 25px;
    }
}
