<div class="container games-content">
    <div class="row">

        <?php include 'sidebar.phtml';?>
        
        <div class="col-lg-8 col-md-12 game-list">

        	<h3 class="page-title" >Контакти</h3>
            
        	<form class="contact-form" action="" method="POST">
        		<div class="form-group">
				    <label for="exampleInputName">Ім`я</label>
				    <input type="email" name="name" class="form-control form-radius" placeholder="Введіть ім`я">
			  	</div>
				<div class="form-group">
				    <label for="exampleInputEmail1">Email</label>
				    <input type="email" name="email" class="form-control form-radius" placeholder="Введіть email">
			  	</div>
			 	 <div class="form-group">
			    	<label for="exampleTextarea">Повідомлення</label>
			    	<textarea class="form-control form-radius" name="message" rows="4"></textarea>
			  	</div>
			  	<input type='submit' class="btn btn-success btn-radius" name="send" value="Відправити"></>
			</form>
        </div>
    </div>
</div>