<div class="container games-content">
    <div class="row">

        <?php include 'sidebar.phtml';?>
        
        <div class="col-lg-8 col-md-12 game-list ">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#relased" role="tab">Випущено</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#announced" role="tab">Анонсовано</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#development
                    " role="tab">В розробці</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#frozen" role="tab">Заморожено</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="relased" role="tabpanel">
                <?php if($games != NULL) : ?>
                <?php foreach ($games as $game) : ?>
                <?php if($game->status == 3) : ?>
                    <div class="cart-list">
                        <img src="/<?=$game->image_url?>" alt="<?=$game->title?>">
                        <div class="list-block">
                            <div class="list-header">
                                <h5 class="list-title"><a href="/game/<?=$game->id?>"><?=$game->title?></a></h5>
                            </div>
                            <div class="list-foter">
                                <p>Категорія:
                                    <?php foreach ($gameCategory as $cat) : ?>
                                    <?php if ($cat->id_game == $game->id) : ?>
                                        <a class="catLink-game" href="/category/<?=$cat->id?>">&nbsp<?=$cat->title?>&nbsp</a>
                                    <?php endif ?>
                                    <?php endforeach ?>       

                                </p>
                            </div>
                            <div class="list-system">
                                <?php if (preg_match('/dows/', $game->OS)) : ?>
                                <img src="/img/style/windows.png" alt="Card image cap">
                                <?php endif ?>
                                <?php if (preg_match('/droid/', $game->OS)) : ?>
                                <img src="/img/style/android.png" alt="Card image cap">
                                <?php endif ?>
                            </div>
                        </div>
                    </div>
                <?php endif ?>
                <?php endforeach ?>
                <?php endif ?>
                </div>
                <div class="tab-pane" id="announced" role="tabpanel">
                <?php if($games != NULL) : ?>
                <?php foreach ($games as $game) : ?>
                <?php if($game->status == 1) : ?>
                    <div class="cart-list">
                        <img src="/<?=$game->image_url?>" alt="<?=$game->title?>">
                        <div class="list-block">
                            <div class="list-header">
                                <h5 class="list-title"><a href="/game/<?=$game->id?>"><?=$game->title?></a></h5>
                            </div>
                            <div class="list-foter">
                                <p>Категорія:
                                    <?php foreach ($gameCategory as $cat) : ?>
                                    <?php if ($cat->id_game == $game->id) : ?>
                                        <a class="catLink-game" href="/category/<?=$cat->id?>">&nbsp<?=$cat->title?>&nbsp</a>
                                    <?php endif ?>
                                    <?php endforeach ?>       

                                </p>
                            </div>
                            <div class="list-system">
                                <?php if (preg_match('/dows/', $game->OS)) : ?>
                                <img src="/img/style/windows.png" alt="Card image cap">
                                <?php endif ?>
                                <?php if (preg_match('/droid/', $game->OS)) : ?>
                                <img src="/img/style/android.png" alt="Card image cap">
                                <?php endif ?>
                            </div>
                        </div>
                    </div>
                <?php endif ?>
                <?php endforeach ?>
                <?php endif ?>
                </div>
                <div class="tab-pane" id="development" role="tabpanel">
                    <?php if($games != NULL) : ?>
                <?php foreach ($games as $game) : ?>
                <?php if($game->status == 2) : ?>
                    <div class="cart-list">
                        <img src="/<?=$game->image_url?>" alt="<?=$game->title?>">
                        <div class="list-block">
                            <div class="list-header">
                                <h5 class="list-title"><a href="/game/<?=$game->id?>"><?=$game->title?></a></h5>
                            </div>
                            <div class="list-foter">
                                <p>Категорія:
                                    <?php foreach ($gameCategory as $cat) : ?>
                                    <?php if ($cat->id_game == $game->id) : ?>
                                        <a class="catLink-game" href="/category/<?=$cat->id?>">&nbsp<?=$cat->title?>&nbsp</a>
                                    <?php endif ?>
                                    <?php endforeach ?>       

                                </p>
                            </div>
                            <div class="list-system">
                                <?php if (preg_match('/dows/', $game->OS)) : ?>
                                <img src="/img/style/windows.png" alt="Card image cap">
                                <?php endif ?>
                                <?php if (preg_match('/droid/', $game->OS)) : ?>
                                <img src="/img/style/android.png" alt="Card image cap">
                                <?php endif ?>
                            </div>
                        </div>
                    </div>
                <?php endif ?>
                <?php endforeach ?>
                <?php endif ?>
                </div>
                <div class="tab-pane" id="frozen" role="tabpanel">
                <?php if($games != NULL) : ?>
                <?php foreach ($games as $game) : ?>
                <?php if($game->status == 4) : ?>
                    <div class="cart-list">
                        <img src="/<?=$game->image_url?>" alt="<?=$game->title?>">
                        <div class="list-block">
                            <div class="list-header">
                                <h5 class="list-title"><a href="/game/<?=$game->id?>"><?=$game->title?></a></h5>
                            </div>
                            <div class="list-foter">
                                <p>Категорія:
                                    <?php foreach ($gameCategory as $cat) : ?>
                                    <?php if ($cat->id_game == $game->id) : ?>
                                        <a class="catLink-game" href="/category/<?=$cat->id?>">&nbsp<?=$cat->title?>&nbsp</a>
                                    <?php endif ?>
                                    <?php endforeach ?>       

                                </p>
                            </div>
                            <div class="list-system">
                                <?php if (preg_match('/dows/', $game->OS)) : ?>
                                <img src="/img/style/windows.png" alt="Card image cap">
                                <?php endif ?>
                                <?php if (preg_match('/droid/', $game->OS)) : ?>
                                <img src="/img/style/android.png" alt="Card image cap">
                                <?php endif ?>
                            </div>
                        </div>
                    </div>
                <?php endif ?>
                <?php endforeach ?>
                <?php endif ?>
                </div>
            </div>
        </div>
    </div>
</div>

