<div class="container site-carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <?php foreach ($slider as $val) : ?>
                <li data-target="#carouselExampleIndicators" data-slide-to="<?=$val->number?>"></li>
            <?php endforeach ?>
        </ol>
        <div class="carousel-inner img-carousel" role="listbox">
            <?php if($slider != NULL) : ?>
                <?php foreach ($slider as $value) : ?>
                    <div class="carousel-item <?php if ($value->number == 1) echo 'active';?>">
                        <img class="d-block img-fluid" src="<?=$value->image_url?>" alt="<?=$value->title?>">
                        <div class="carousel-caption d-none d-md-block">
                            <h3><a href="<?=$value->link?>" class="link-slide"><?=$value->title?></a></h3>
                            <p><?=$value->description?></p>
                        </div>
                    </div>
                <?php endforeach ?>
            <?php endif ?>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container">
    <div class="content">
    <div class="content-title">
        <h3> ВІДІБРАНЕ І РЕКОМЕНДОВАНЕ</h3>
    </div>
    <div class="row content-row">
    <?php if($games != NULL) : ?>
        <?php foreach ($games as $game) : ?>
                <div class="col-md-4 col-sm-6 game-block">
                    <img src="<?=$game->image_url?>" class="img-thumbnail" alt="<?=$game->title?>">
                    <div class="card-block">
                        <h5 class="card-title"><a href="/game/<?=$game->id?>" ><?=$game->title?></a></h5>
                    </div>
                </div>
            <?php endforeach ?>
        <?php endif ?>
    </div>
    </div>
</div>
