<div class="col-lg-4 col-md-12 site-sidebar ">
    <h4 class="title-sidebar">Категорії</h4>
    <ul class="list-group">
        <?php if($category != NULL) : ?>
            <?php foreach ($category as $cat) : ?>
                <li class="list-group-item justify-content-between">
                    <a href="/category/<?=$cat->id?>"><?=$cat->title?></a>
                 </li>
            <?php endforeach ?>
        <?php endif ?>
    </ul>
</div>