<div class="container games-content">
    <div class="row">

        <?php include 'sidebar.phtml';?>
        
        <div class="col-lg-8 col-md-12 game-list game-page ">
        	<h1 class="game-title"><?=$game->title?></h1>
        	<img src="/<?=$game->image_url?>" id="game-img" class="img-game " alt="Responsive image">
        	<div class="row gallery-row">
                <?php if($gallery != NULL) : ?>
                    <?php foreach ($gallery as $value) : ?>
                		<div class="col-md-3 col-sm-3 gallery">
                			<img  id="first" onclick="test(this)" src="<?=$value->image_url?>">
                		</div>
                    <?php endforeach ?>
                <?php endif ?>
        	</div>
            <br>
            <a href="<?=$game->link?>" class="btn btn-outline-success btn-radius">Завантажити</a>
        	<br>
        	<h5 class="game-info game-zag">Про гру:</h5>
        	<p class="game-info">
        		<?=$game->description?>
        	</p>
        	<h5 class="game-info game-zag">Системні вимоги:</h5>
        	<p class="game-info">
        		<span class="game-system"> ОС:</span> <span class="game-param"><?=$game->OS?></span><br>
				<span class="game-system">Процессор:</span>  <span class="game-param"><?=$game->prots?></span><br>
				<span class="game-system">Оперативная память:</span> <span class="game-param"><?=$game->RAM?></span><br>
				<span class="game-system">Видеокарта:</span> <span class="game-param"><?=$game->video?></span><br>
				<span class="game-system">Место на диске:</span> <span class="game-param"><?=$game->memory?></span><br>
        	</p>
        </div>
    </div>
</div>
<script type="text/javascript">
	
	function test(elem)
	{
		var imag = document.getElementById('game-img').src;
		document.getElementById('game-img').src = elem.src;
		elem.src = imag;
	}
</script>