<h4>Додати категорію</h4>
<br>
<form method="POST" class="add">
  <div class="form-group">
    <label>Назва</label>
    <input type="text" name="title" class="form-control btn-radius" required>
  </div>
  <div class="form-group">
    <label>Порядковий №</label>
    <input type="text" name="number" class="form-control btn-radius" required>
  </div>
  <input type='submit' class="btn btn-success btn-radius" name="addCategory" value="Додати"></>
</form>