<h4>Додати гру</h4>
<br>
<form method="POST" enctype='multipart/form-data' class="add">
  <div class="form-group">
    <label>Назва</label>
    <input type="text" name="title" class="form-control btn-radius" required>
  </div>
  <div class="form-group">
    <label>Опис</label>
    <textarea class="form-control btn-radius" name="description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label>Посилання на завантаження</label>
    <input type="text" name="link" class="form-control btn-radius" required>
  </div>
  <h6>Системні вимоги:</h6>
  <div class="form-group">
    <label>OC</label>
    <input type="text" name="OS" class="form-control btn-radius" required>
  </div>
  <div class="form-group">
    <label>Процессор</label>
    <input type="text" name="prots" class="form-control btn-radius" required>
  </div>
  <div class="form-group">
    <label>Оперативна пам`ять</label>
    <input type="text" name="RAM" class="form-control btn-radius" required>
  </div>
  <div class="form-group">
    <label>Відеокарта</label>
    <input type="text" name="video" class="form-control btn-radius" required>
  </div>
  <div class="form-group">
    <label>Місце на диску</label>
    <input type="text" name="memory" class="form-control btn-radius" required>
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Категорія</label>
    <?php foreach ($category as $value) : ?>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="id_category[]" value="<?=$value->id?>">
        <?=$value->title?>
      </label>
    </div>
    <?php endforeach ?>
  </div>
  <div class="form-group">
    <label>Зображення</label>
    <input type="file" name="image" class="form-control-file btn-radius" required>
    <small class="form-text text-muted">Виберіть зображення гри</small>
    <br>
    <label>Зображення для галереї</label>
    <input type="file" name="img_slider[]" class="form-control-file btn-radius" multiple>
    <small class="form-text text-muted">Виберіть 4 зображення галереї</small>
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Статус</label>
    <select class="form-control" name="status">
      <option value="1">Анонсована</option>
      <option value="2">В розробці</option>
      <option value="3">Випущено</option>
      <option value="4">Заморожено</option>
    </select>
  </div>
  <input type='submit' class="btn btn-success btn-radius" name="addGame" value="Додати"></>
</form>

