<h4>Додати слайдер</h4>
<br>
<form method="POST" enctype='multipart/form-data' class="add">
  <div class="form-group">
    <label>Заголовок</label>
    <input type="text" name="title" class="form-control btn-radius" required>
  </div>
 
  <div class="form-group">
    <label>Опис</label>
    <textarea class="form-control btn-radius" name="description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label>Посилання</label>
    <input type="text" name="link" class="form-control btn-radius" required>
  </div>
  <div class="form-group">
    <label>Порядковий №</label>
    <input type="text" name="number" class="form-control btn-radius" required>
  </div>
  <div class="form-group">
    <label>Зображення</label>
    <input type="file" name="slider" class="form-control-file btn-radius" required>
    <small class="form-text text-muted">Виберіть зображення для слайдера</small>
  </div>
  <input type='submit' class="btn btn-success btn-radius" name="addSlider" value="Додати"></>
</form>

