<h4>Редагувати категорію</h4>
<br>
<?php if($category != NULL) : ?>
<?php foreach ($category as $value) : ?>
<div class="row category-list">
	<div class="col-md-6 col-sm-6">
		<h6><?=$value->title?></h6>
		
	</div>
	<div class="col-md-2 col-sm-6">
			<h6><?=$value->number?></h6>
	</div>
	<div class="col-md-2 col-sm-6">
			<a href="/admin/edit-category/<?=$value->id?>" class="btn btn-outline-warning btn-radius">Редагувати</a>
	</div>
	<div class="col-md-2 col-sm-6">
		<form method="POST" class="add">
  
    		<input type="hidden" name="id" value="<?=$value->id?>" >
 
  			<input type='submit' class="btn btn-outline-danger btn-radius" name="deleteCategory" value="Видалити"></>
		</form>
	</div>		
</div>

<?php endforeach ?>	

<?php else : ?>

  <h5>Категорії відсутні</h5>

<?php endif ?>
