<h4>Редагувати категорію <?=$category->title?></h4>
<br>
<form method="POST" class="add">
  <div class="form-group">
    <label>Назва</label>
    <input type="text" name="title" class="form-control btn-radius" value="<?=$category->title?>">
  </div>
  <div class="form-group">
    <label>Порядковий №</label>
    <input type="text" name="number" class="form-control btn-radius" value="<?=$category->number?>">
  </div>
  <input type='submit' class="btn btn-success btn-radius" name="editCategory" value="Редагувати"></>
</form>


