<h4>Редагувати гру <?=$game->title?></h4>
<br>
<form method="POST" enctype='multipart/form-data' class="add">
  <div class="form-group">
    <label>Назва</label>
    <input type="text" name="title" class="form-control btn-radius" value="<?=$game->title?>">
  </div>
  <div class="form-group">
    <label>Опис</label>
    <textarea class="form-control btn-radius" name="description" rows="3"><?=$game->description?></textarea>
  </div>
  <div class="form-group">
    <label>Посилання на завантаження</label>
    <input type="text" name="link" class="form-control btn-radius" value="<?=$game->link?>">
  </div>
  <h6>Системні вимоги:</h6>
  <div class="form-group">
    <label>OC</label>
    <input type="text" name="OS" class="form-control btn-radius" value="<?=$game->OS?>">
  </div>
  <div class="form-group">
    <label>Процессор</label>
    <input type="text" name="prots" class="form-control btn-radius" value="<?=$game->prots?>">
  </div>
  <div class="form-group">
    <label>Оперативна пам`ять</label>
    <input type="text" name="RAM" class="form-control btn-radius" value="<?=$game->RAM?>">
  </div>
  <div class="form-group">
    <label>Відеокарта</label>
    <input type="text" name="video" class="form-control btn-radius" value="<?=$game->video?>">
  </div>
  <div class="form-group">
    <label>Місце на диску</label>
    <input type="text" name="memory" class="form-control btn-radius" value="<?=$game->memory?>">
  </div>
  <div class="form-group">
    <label for="exampleSelect1">Категорія</label>
    <?php foreach ($category as $value) : ?>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="id_category[]" value="<?=$value->id?>"
          <?php
            foreach ($categoryList as $name)
            {
              
              if ($value->id == $name->id)
              {
                echo "checked";
                break;

              }
                
            }

         ?>
        >
        <?=$value->title?>
      </label>
    </div>
    <?php endforeach ?>
  </div>
  <div class="admin-img">
    <label>Зображення</label><br>
    <img src="/<?=$game->image_url?>"><br><br>
  </div>
  <div class="form-group">
    <input type="file" name="image" class="form-control-file btn-radius">
    <small class="form-text text-muted">Виберіть зображення гри якщо потрібно змінити</small>
    <br>
    <div class="admin-img">
      <label>Зображення для галереї</label><br>
      <?php foreach ($gallery as $img) : ?>
      <img src="<?=$img->image_url?>">
      <?php endforeach ?>
      <br><br>
    </div>
    <input type="file" name="img_slider[]" class="form-control-file btn-radius" multiple>
    <small class="form-text text-muted">Виберіть 4 зображення галереї якщо потрібно змінити</small>
  </div>
   <div class="form-group">
    <label for="exampleSelect1">Статус</label>
    <select class="form-control" name="status">
      <option value="<?=$game->status?>">
      <?php
        switch ($game->status)
        {
          case 1:
            echo "Анонсована";
            break;
          case 2:
            echo "В розробці";
            break;
          case 3:
            echo "Випущено";
            break;
          case 4:
            echo "Заморожено";
            break;      
        }
      ?>
      </option>
      <option value="1">Анонсована</option>
      <option value="2">В розробці</option>
      <option value="3">Випущено</option>
      <option value="4">Заморожено</option>
    </select>
  </div>
  <input type="hidden" name="image_url" value="<?=$game->image_url?>">
  <input type='submit' class="btn btn-success btn-radius" name="editGame" value="Редагувати"></>
</form>

