<h4>Реагувати слайдер <?=$slider->title?></h4>
<br>
<form method="POST" enctype='multipart/form-data' class="add">
  <div class="form-group">
    <label>Заголовок</label>
    <input type="text" name="title" class="form-control btn-radius" value="<?=$slider->title?>">
  </div>
 
  <div class="form-group">
    <label>Опис</label>
    <textarea class="form-control btn-radius" name="description" rows="3"><?=$slider->description?></textarea>
  </div>
  <div class="form-group">
    <label>Посилання</label>
    <input type="text" name="link" class="form-control btn-radius" value="<?=$slider->link?>">
    <input type="hidden" name="image_url" class="form-control btn-radius" value="<?=$slider->image_url?>">
  </div>
  <div class="form-group">
    <label>Порядковий №</label>
    <input type="text" name="number" class="form-control btn-radius" value="<?=$slider->number?>">
  </div>
  <div class="admin-img">
   <label>Зображення</label><br>
    <img src="/<?=$slider->image_url?>"><br><br>
  </div>
  <div class="form-group">
    <input type="file" name="slider" class="form-control-file btn-radius">
    <small class="form-text text-muted">Виберіть зображення для слайдера якщо його потрібно замінити</small>
  </div>
  <input type='submit' class="btn btn-success btn-radius " name="editSlider" value="Реагувати"></>
</form>

