<h4>Редагувати гру</h4>
<br>
<?php if($game != NULL) : ?>
<?php foreach ($game as $value) : ?>
<div class="row category-list">
  <div class="col-md-8 col-sm-6">
    <h6><?=$value->title?></h6>
    
  </div>
  
  <div class="col-md-2 col-sm-6">
      <a href="/admin/edit-game/<?=$value->id?>" class="btn btn-outline-warning btn-radius">Редагувати</a>
  </div>
  <div class="col-md-2 col-sm-6">
    <form method="POST" class="add">
  
        <input type="hidden" name="id" value="<?=$value->id?>" >
        <input type="hidden" name="image" value="<?=$value->image_url?>" >
 
        <input type='submit' class="btn btn-outline-danger btn-radius" name="deleteGame" value="Видалити"></>
    </form>
  </div>    
</div>

<?php endforeach ?>
<?php else : ?>

  <h5>Ігри відсутні</h5>

<?php endif ?>