<div class="date-info">
	<?=date('d. m. 20yp')?>
</div>
<div class="welcome">
	Привіт <?=$adminInfo->login?>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="home-info">
			<h4>Категорій</h4>
			<span class="text-inf"><?=$categoryCount?></span>
		</div>
	</div>
	<div class="col-md-4 ">
		<div class="home-info">
			<h4>Ігор</h4>
			<span class="text-inf"><?=$gameCount?></span>
		</div>	
	</div>
	<div class="col-md-4">
		<div class="home-info">
			<h4>Слайдів</h4>
			<span class="text-inf"><?=$sliderCount?></span>
		</div>
	</div>
	
</div>
