<div class="container admin-login">
   <div class="row">
  
    <div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 admin-reg">
    <h2>Вхід у адмін панель</h2>
     <p class="error"><?php if(isset($error)) echo $error?></p>
        <form action="" method="post">
            <div class="form-group">
                <label for="email"><b>Логін</b></label>
                <input type="text" name="login" class="form-control btn-radius" placeholder="Логін" required>
            </div>
            <div class="form-group">
                <label for="password"><b>Пароль</b></label>
                <input type="password" name="password" class="form-control btn-radius" placeholder="Пароль" required>
            </div>
            <div class="text-right">
                <button class="btn btn-success btn-radius">Вхід</button>
            </div>
        </form>
    </div>

</div>
</div>
    

