<h4>Налаштування</h4>
<br>
<div class="row">
    <div class="col-sm-6">
        <form method="POST" class="add">
        	<h6>Змінити пароль</h6>
        	<br>
          	<div class="form-group">
            	<label>Пароль</label>
            	<input type="password" name="password" class="form-control btn-radius">
         	</div>
            <div class="form-group">
        	    <label>Новий пароль</label>
        	    <input type="password" name="newPassword" class="form-control btn-radius">
            </div>
            <div class="form-group">
        	    <label>Новий пароль</label>
        	    <input type="password" name="rePassword" class="form-control btn-radius">
            </div>
            <input type='submit' class="btn btn-success btn-radius" name="editPassword" value="Змінити"></>
        </form>
    </div>
    <div class="col-sm-6">
        <form method="POST" class="add">
            <h6>Змінити email</h6>
            <br>
            <div class="form-group">
                <label>Пароль</label>
                <input type="password" name="password" class="form-control btn-radius">
            </div>
            <div class="form-group">
                <label>Новий amail</label>
                <input type="text" name="newEmail" class="form-control btn-radius">
            </div>
            <input type='submit' class="btn btn-success btn-radius" name="editEmail" value="Змінити"></>
        </form>
        
    </div>

</div>


