<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?=$title?></title>
    <link rel="stylesheet" href="/styles/css/bootstrap.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/styles/css/style.css">
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand admin-brand" href="/admin/home">Адмін панель</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">На сайт <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <a class="btn btn-outline-secondary my-2 my-sm-0 btn-radius" href="/admin/logout">Вихід</a>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 sidebar-admin">
                    <nav>
                        <ul class="nav nav-pills flex-column  ">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/add-game">Додати гру</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/game">Редагувати гру</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/add-category">Додати категорію</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/category">Редагувати категорію</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/add-slider">Додати слайдер</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/slider">Редагувати слайдер</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/setting">Налаштування</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-9 content-admin">
                    <?= $content ?>
                </div>
            </div>
        </div>
        <div class="footer bg-inverse">
        <p>© <?php echo date('Y'); ?>  Назва сайту</p>
        </div>
    </div>
    <script src="/styles/js/jquery.js"></script>
    <script src="/styles/js/bootstrap.min.js"></script>
</body>

</html>