<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?=$title?></title>
    <link rel="stylesheet" href="/styles/css/bootstrap.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/styles/css/style.css">
</head>

<body>
    <div class="wrapper-site">
        <div class="bg-nav site-nav fixed-top">
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-nav container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand site-brand" href="/">Plus Game</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Головна <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/games">Ігри</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/contact">Контакти</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
                        <input class="form-control mr-sm-2 form-radius" type="text" name="search" placeholder="Пошук">
                        <button class="btn btn-outline-info my-2 my-sm-0 btn-radius" type="submit">Знайти</button>
                    </form>
                </div>
            </nav>
        </div>


            <?= $content ?>

        <div class="footer-site">
            <p>© <?php echo date('Y'); ?>  Plus Game</p>
        </div>
    </div>

    <script src="/styles/js/jquery.js"></script>
    <script src="/styles/js/bootstrap.min.js"></script>
</body>

</html>
